@import "materialize/materialize";

@font-face {
  font-family: 'Noto-Emoji';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Color Emoji'), url('../fonts/NotoColorEmoji.ttf') format('ttf')
}

html {
  font-family: "Noto-Emoji", "Roboto", sans-serif !important
}

body > .section {
    position: relative;
    overflow-y: auto
}

@media only screen and (min-width: 993px) {
  nav .nav-wrapper i {
    height: unset;
  }
  body > .section{
    margin-top: -2em;
  }
}

nav {
  >.nav-wrapper {
    >ul {
      >li {
        margin-top: -3px;
        transition: all 0.4s ease 0s;
        >a {
          height: 66px;
          img {
            margin-top: 8px
          }
        }
      }
    }
  }
}
main {
  height: 100%;
  padding-bottom: 5rem;
  width: 100%;
  .row {
    height: 100%;
    width: 100%;
    .col {
      height: 100%
    }
  }
}

.section {
  height: 100%;
  .row {
    .col {
      .section {
        > div.pad {
          overflow: auto;
          height: 100%;
        }
        .preloader-wrapper {
          overflow: hidden
        }
      }
    }
  }
}

.post {
  > div#rm:hover {
    margin-right: 16px !important
  }
  > div.right-align {
    margin-right: 16px
  }
  > div.left-align {
    margin-left: 16px
  }
  #content {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    margin: 0 auto;
    width: 90%
  }
  #userinfo a {
    transition: background-color .3s;
    font-size: $navbar-font-size;
    color: $navbar-font-color;
    padding: 0 15px;
    cursor: pointer;
    &:hover {
      background-color: rgba(0,0,0,.1)
    }
  }
}

.divider {
  height: 1px !important
}

.valign-wrapper {
  -webkit-justify-content: center;
  justify-content: center
}

.materialboxed.active {
  top: 0 !important;
  left: 0 !important;
  position: fixed !important
}

.card {
  .card-image {
    height: 250px;
    overflow: hidden;
    position: relative;
    background-color: rgba(236,239,241, 0.2);
    display:flex;
    justify-content:center;
    align-items:center;
    img {
      object-fit: none;
      flex-shrink:0;
      min-width:100%;
      min-height:100%
    }
  }
  .card-content p{
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    white-space: pre-wrap
  }
}

.container.onepost{
  width: 85%
}

#username{
  font-size: 14px
}

ul {
  &#apps {
    margin-top: 64px;
    width: 350px !important;
    margin-left: 150px
  }

  &#accounts {
    margin-top: 64px;
    width: 200px !important;
    margin-left: 25px
  }
}

.preloader-wrapper.very-small {
  width: 24px;
  height: 24px;
}

img {
  &.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
  }

  &.pb {
    width: 48px;
    height: 48px;
  }
}

.card-content .chip {
  position: absolute;
  right: 0;
}

i.material-icons, .side-nav a{
  color: unset !important;
}

img.responsive-img {
  border-radius: 10%;
}

.circle {
  border-radius: 50% !important;
}


